security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/v1/login_check
            stateless: true
            json_login:
                check_path: /api/v1/login_check
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
                username_path: email

        api:
            pattern: ^/api/v1
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/api/v1/login_check, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/reservations, methods: [POST], roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/reservations, methods: [GET], roles: ROLE_ADMIN }
        - { path: ^/api/v1/(halls|movies|screenings), methods: [POST, PUT, PATCH, DELETE], roles: ROLE_ADMIN }
        - { path: ^/api/v1, roles: PUBLIC_ACCESS }